{% extends "encyclopedia/layout.html" %}

{% block title %}
    Encyclopedia
{% endblock %}

{% block body %}
    <h1 class="mt-4 ml-5">All Pages</h1>

    <div class="row mt-4 ml-5">
        {% for entry in entries %}
            <div class="col-md-4">
                <div class="card mb-4">
                    <div class="card-body">
                        <h5 class="card-title">
                            <a href="{% url 'entry' title=entry %}">{{ entry }}</a>
                        </h5>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    

{% endblock %}